:root {
  --main-color: #48286f;
  --main-color-hover: #8447ce;
}

/* sets font for the whole page */
* {
  font-family: Arial, sans-serif;
}

/* removes margin from body */
body{
  margin: 0;
  text-align: center;
}

/* sets up headers background and text color, padding and spacing */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}

/* defines start buttons width alignment and padding/margin */
#startButton {
  width:80%;
  padding: 10px;
  margin-top: 60px;
  text-align: center;
  align-self: center;
}

/* intiliazes start button to visible */
#startButtonDiv{
  display: block;
}

/* defines base button */
.btn {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}

/* defines button hover text */
.btn:hover{
  background-color: var(--main-color-hover) ;
}

h2 {
  text-align:center;
}

#answers {
  display: none;
  text-align: center;
}

.answerBtn {
  width:80%;
  padding: 10px;
  margin: 6px;
}

/* defines card background color, shadow and alignment */
.Card {
  background-color: White;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);

  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 40px;
}

#grade {
  margin-top: 40px;
  text-align: center;
}

hr {
  margin: auto;
  width: 80%;
}

/* styles every odd high score to be light purple */
ul>li:nth-child(odd){
  background-color:  #d5bbf5;
}

ul {
  text-align: start;
  list-style-type: none;
  width:90%;
}​

/* initializes page to visible */
#gamePage {
  display: block;
}
/* initializes page to invisible */
#highScoresPage {
  display: none;
}
/* initializes page to invisible */
#initialsPage {
  display: none;
}
